.tamañoImg{
    width: 100px;
}

.contenedor{
    margin: 100px;
}

.contenedorCarritoVacio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       min-height: 70vh;
}

.formulario{
    text-align: center;
}